* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

.clear{
	clear: both;
}

header {
	width: 100%;
	height: 80vh;
	padding: 40px 2%;
	min-height: 650px;
	background-image: url('../imagens/capa.png');
	background-size: cover;
	background-position: center;
	font-weight: 300;
}

header nav {
	float: right;
}

header .logo {
	position: relative;
	top: -10px;
	float: left;
	width: 160px;
	height: 40px;
	background-color: rgb(200, 200, 200); background-size : contain;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

header nav.list-header ul {
	list-style: none;
}

header nav.list-header ul>li {
	float: left;
	font-size: 20px;
	padding: 5px 10px;
}

header nav.list-header ul>li:hover{
	background-color: rgba(100, 100, 100, 0.5);
	border-radius: 10px;
	
}

header nav.list-header ul>li>a {
	text-decoration: none;
	color: white;
}

header nav.chamada1 {
	text-align: center;
	margin: 140px 150px;
	padding: 10px;
}

header nav.chamada1 h2 {
	color: white;
	font-size: 40px;
	margin-bottom: 10px;
}

header nav.chamada1 p {
	color: white;
	font-size: 30px;	
}

#section-dados-pessoais{
	width: 100%;
	height: 650px;
	background-color: #699bea;
	text-align: center;
	padding: 20px 0;
}

#section-dados-pessoais img{
	margin-top: 150px;
    width: 200px;
    height: 200px;
    border-radius: 100px;   
}

#section-dados-pessoais h1{
	padding: 20px 0;
}

#formacao{
	width: 100%;
    height: 650px;
    text-align: center;
    padding: 20px 0;
    background-color: #d7dde5;
}

#formacao h1{
	margin-top: 110px;
	margin-bottom: 50px;
	font-size: 40px;
}

#formacao .elemento{
    padding: 10px 0;
    border-bottom: 2px solid rgb(200, 200, 200);
}

#formacao .descricao{
	margin-left: 250px;
	width: 30%;
	height: 200px;
    float: left;
}

#formacao .img-instituicao{
	margin-right: 250px;
	float: right;
	width: 30%;
	height: 200px;
}

#formacao h2{
	padding-top: 60px;
}

#formacao img{
    width: 200px;
    height: 200px;
}

#conhecimentos{
	width: 100%;
    height: 650px;
    text-align: center;
    padding: 20px 0;
    background-color: #0b2559;
}

#conhecimentos h1{
	color: white;
    margin-top: 110px;
    margin-bottom: 100px;
    font-size: 40px;
}

#conhecimentos img{
	width: 200px;
    height: 200px;
}

#contato{
	width: 100%;
    height: 650px;
    text-align: center;
    padding: 20px 0;
    color: white;
    background-color: #323335;
    border: none;
}


#contato .form-contato{
	padding-top: 80px;
	width: 60%;
	height: 100%;
	float: left;
}

#contato .redes-sociais{
	padding-top: 80px;
	width: 40%;
	height: 100%;
	float: right;
}